@import base/colors
@import base/variables
@import defaults


.container
  display: flex
  align-items: center
  justify-content: center
  height: 100%

.hero-unit
  opacity: 0.0
  max-width: 70%
  background-color: $fc-nephritis
  color: $fc-midnight-blue
  font-size: 40px
  line-height: 30px
  padding: 20px
  border-radius: $base-border-radius
  display: table

  &__span
    display: table-cell
    vertical-align: middle
    padding-left: 5px

.test-style
  color: #bada55
